@import "tailwindcss";

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.text_blue {
  color: #2A90D9;
}

.bg_blue {
  background: #2A90D9;
}

.text_orange {
  color: #EE685F;
}

.bg_orange {
  background: #EE685F;
}

.text_black {
  color: #262729;
}